@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    /*  HSL colors: check https://g.co/kgs/m1accyG to simply change the values */
    --base-hue: 348;
    /* "H" value: Adjust the base hue (0 for red, 120 for green, 240 for blue) */
    --saturation: 83%;
    /* "S" value */
    --lightness: 47%;
    /* "L" value */
}

body {
    color: white;
    font-family: "Noto Sans", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('background.png');
    background-size: cover;
    z-index: -1;
    filter: hue-rotate(calc(var(--base-hue) * 1deg));
}

.titlediv h1 {
    text-align: center;
    font-size: 3vw;
    margin: 3vw 0 0;
}

.titlediv p {
    text-align: center;
    margin: 0 0 5vw;
    font-size: 0.75vw;
}

.menus {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 35%;
    width: 75%;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

.menu-left,
.menu-right {
    border: 3px solid hsl(var(--base-hue), var(--saturation), var(--lightness));
    box-shadow: 0 0 1vw hsl(var(--base-hue), var(--saturation), calc(var(--lightness))),
        inset 0 0 3vw hsl(var(--base-hue), var(--saturation), calc(var(--lightness)));
    /* background-color: rgba(23, 23, 23, 70%); Recommended to uncomment if using video*/
    flex: 1;
    padding: 0 20px;
    border-radius: 1rem;
}

.menu-left-title,
.menu-right-title {
    text-align: center;
    font-size: 2vw;
    margin: 0;
    padding: 1vw;
    border-bottom: 0.1vw solid hsl(var(--base-hue), var(--saturation), calc(var(--lightness)));
}

.menu-left-list,
.menu-right-list {
    padding: 1vw;
    margin: 0;
    list-style-position: inside;
}

.menu-left-item,
.menu-right-item {
    margin: 10px 0;
    font-size: 0.9vw;
}

.menu-left-item {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.menu-left-item img {
    border-radius: 100%;
    border: 3px solid hsl(var(--base-hue), var(--saturation), var(--lightness));
    box-shadow: 0 0 1vw hsl(var(--base-hue), var(--saturation), var(--lightness));
    width: 8vh;
}

.logo {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
    text-align: center;
}

.logo img {
    width: 25vh;
    height: 25vh;
    background-color: black;
    border: 3px solid hsl(var(--base-hue), var(--saturation), var(--lightness));
    box-shadow: 0 0 2vw hsl(var(--base-hue), var(--saturation), var(--lightness));
    border-radius: 100%;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}